# 少女前线 跨安卓官服
## 切换服务器
^https?:\/\/gfcn-transit\.ios\.sunborngame\.com\/index\.php url script-request-body https://raw.fastgit.org/Mornwind/GFCN_SwitchServer/master/Quan_X/gfcn_ios2gw.js

[MITM]
hostname = gfcn-transit.ios.sunborngame.com