# 少女前线 跨应用宝服
## 获取帐号数据
^https?:\/\/gfcn-passport\.(.+?)\.sunborngame\.com\/third\/channelLogin url script-response-body https://github.com/Mornwind/GFCN_SwitchServer/raw/master/Quan_X/gfcn_ios2tx_GetToken.js
## 切换服务器
^https?:\/\/gfcn-transit\.ios\.sunborngame\.com\/index\.php url script-request-body https://github.com/Mornwind/GFCN_SwitchServer/raw/master/Quan_X/gfcn_ios2tx_P1.js
## 写入帐号数据
^https?:\/\/gfcn-game\.(.+?)\.sunborngame\.com\/index\.php\/(.+?)\/Index\/getUidEnMicaQueue url script-request-body https://github.com/Mornwind/GFCN_SwitchServer/raw/master/Quan_X/gfcn_ios2tx_P2.js

[MITM]
hostname = gfcn-transit.ios.sunborngame.com